@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  user-select: none;  
  line-height: 1.5;
  font-weight: 100;
  font-family: 'Barlow Condensed', sans-serif;
}

body,
html {
  height: 100%;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
}

hr {
  border: none;
  margin: 5px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.inline {
  display: inline-block;
}

/************************ Display ************************/

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.notActive {
  animation: shrink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  display: none;
}

.show {
  display: block;
}

.dontShow {
  display: none;
}

/************************ Margin ************************/

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}
