.l-container {
  height: 100%;
  display: flex;
  ;
}

.normal-padding {
  padding: 1.2rem;
}

.l-container .n {
  flex: 1.5;
}

.l-container .c {
  flex: 12;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.fac {
  display: flex;
  justify-content: center;
  align-items: center;
}
